@import'../global';
.container{
    width: 1600px;
    height: 750px;
    margin: 0 auto;
    // border: $border;
    margin-top: 2px;
    background: #043873;
   &__cantainer{
    width: 100%;
    height: 100%;
    background-image: url(/images/Element-head.png);
    background-repeat: no-repeat;
    background-position: 0px 150px;
    border: $border;
     &__header{
        width: 85%;
        height: 85%;
        // border: $border;
        margin: 0 auto;
        &__nav{
            display: flex;
            width: 100%;
            height: 10%;
            // border: $border;
            &-logo{
                display: flex;
                width: 30%;
                height: 100%;
                // border: $border;
                @include center();

            }
            &-navbar{
                width: 80%;
                height: 100%;
                // border: $border;
                box-sizing: border-box;
                &-ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-around;
                    &-li{
                    margin-top: 2%;
                        
                    }
                    &-button1{
                        display: flex;
                        height: 60px;
                        padding: 16px 30px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 8px;
                        background: #FFE492;
                        color: #043873;
                        /* Paragraph/P2/Medium */
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 23px; /* 127.778% */
                        letter-spacing: -0.36px;
                    }
                    &-button2{
                        display: flex;
                        height: 60px;
                        padding: 16px 30px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 8px;
                        background: #4F9CF9;
                        color: #FFF;
                        /* Paragraph/P2/Medium */
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 23px; /* 127.778% */
                        letter-spacing: -0.36px;
                    }
                    &-menu{
                        display: none;
                    }
                }
            
            }

        }
        &-hero{
            display: flex;
            width: 100%;
            height: 90%;
            // border: $border;
            &-text1{
                width: 50%;
                height: 100%;
                &-h1{
                    color: #FFF;
                    /* Header/H2 */
                    font-family: Inter;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -1.28px;
                    margin-top: 20%;
                    margin-left: 13%;
                    
                }
                &-p1{
                    color: #FFF;
                    /* Paragraph/P2/Regular */
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 166.667% */
                    letter-spacing: -0.36px;
                    margin-top: 4%;
                    margin-left: 14%;
                    
                }
                &-button3{
                    display: flex;
                    padding: 20px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    background: #4F9CF9;
                    color: #FFF;
                    /* Paragraph/P2/Medium */
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px; /* 127.778% */
                    letter-spacing: -0.36px;
                    margin-top: 10%;
                    margin-left: 14%;
                    
                }
            }
            &-photo1{
                width: 50%;
                height: 100%;
                // border: $border;
                &-rasm1{
                    display: flex;
                    width: 80%;
                    height: 80%;
                    margin: 0 auto;
                    margin-top: 10%;
                    margin-left: 13%;

                }
            }
           
        }
        &-hero{
            width: 100%;
            height: 100%;
            &-text1{
                width: 50%;
                height: 100%;
                &-h1{
                    margin-left: 2%;
                    width: 100%;
                }

            }

            
        }
    }
   
   }
}




@media screen and (max-width:1024px){

    .container{
        width: 100%;
        &__cantainer{
            &__header{
                width: 100%;
                &__nav{
                    width: 100%;
                    &-logo{
                        width: 30%;
                    }
                    &-navbar{
                        &-ul{
                            &-li{
                                display: none;
                            }
                            &-button1{
                                margin-left: 25%;
                                width: 17%;
                            }

                            &-button2{
                               
                            }
                            &-menu{
                                width: 15%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 3.5%;
                                color: white;

                                
                            }
                        }
                    }
                }
                &-hero{
                    width: 100%;
                    height: 1005px;
                    &-text1{
                        width: 50%;
                        
                        &-h1{
                            margin-left: 3%;
                            width: 100%;
                            margin-top: 38%;
                          
    
                        }
                        &-p1{
                            margin-left: 2%;
                            
                        }
                        &-button3{
                            margin-left: 3%;
                        }
                    }
                    &-photo1{
                        width: 80%;
                        height: 40%;
                        margin-top: 10%;
                    }
                }
            }
          
        }
    }
}

@media screen and (max-width:768px){
    .container{
        width: 100%;
        height: 1200px;
        &__cantainer{
            width: 100%;
            &__header{
                width: 100%;
                height: 100%;
                &__nav{
                    width: 100%;
                    height: 10%;
                    &-logo{
                        width: 45%;
                    }
                    &-navbar{
                        width: 55%;
                        &-ul{
                            width: 55%;
                            &-button1{
                                display: none;

                            }
                            &-button2{
                                display: none;
                            }
                            &-menu{
                                width: 55%;
                                display: flex;
                                margin-left: 220%;
                                margin-top: 10%;
                            }
                        }
                    }
                }
                &-hero{
                   display: block;
                    width: 100%;
                    &-text1{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        &-h1{
                            width: 100%;
                            @include center();
                            margin-top: 0;
                        }
                        
                        &-p1{
                            // margin-left: 20%;
                            width: 100%;
                            // background-color: red;
                        }
                        &-button3{
                            height: 5%;
                            width: 60%;
                            // margin-left:60%;
                            // margin-top: 20%;
                        }
                      
                    }
                    &-photo1{
                        margin-top:0;
                        margin-left: 0;
                        width: 100%;
                        // background-color: red;
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px){
    .container{
        width: 100%;
        height: 100%;
        &__cantainer{
            &__header{
                &-hero{
                    width: 100%;
                    &-tex1{
                        width: 100%;
                        background-color: red;
                    }
                }
            }
        }
    }
}